*{
  box-sizing: border-box;
}

body {
  max-zoom: 1;
  font-family:Arial, Helvetica, sans-serif
}

.mainheadernav{
  display: flex;
  background-color: rgb(4, 12, 45);
  /* border:groove wheat 0.1px; */
  /* border-radius: 20px; */
  flex-wrap: wrap;
  /* box-shadow:0 0 0 5px black, 0 0 0 10px rgb(4, 12, 45); */
  box-shadow: 0 0 10px wheat,0 0 10px red;
  
  
  
}

.textarea{
  resize: none;
}

.mainheaderul{
  display: flex;
  gap: 30px;
  position: relative;

}

.mainheaderul a{
  justify-content: space-around;
  color: wheat;
  text-decoration:none;
  position: inherit;
  font-size: 30px;
  border-radius: 20px;
  transition: box-shadow 0.3s ease;
  padding: 10px;
  
}

.mainheaderul a:hover{
  box-shadow: 0 0 10px wheat,0 0 30px red;
  border-radius: 20px;
  background-color: orange;
}

.img{
  width: 50px;
  height: 50px;
  left: 100%;
  position: absolute;
  
}

body{
  margin: 0;
  background-image:url('https://wallpaperaccess.com/full/1886625.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}



.formcontainer{
  border: solid wheat;
  border-radius: 40px;
  background-color: rgb(4, 12, 45);
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  width: auto;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 50px;
  color: wheat;
  box-shadow: 0 0 30px wheat,0 0 30px red;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10%;
  padding-top: 30px;
  padding-bottom: 30px;
  opacity:0.9;

  transition: opacity 0.3s ease;
}

.formcontainer:hover{
  opacity:1
}

.submit{
  border: solid orange;
  border-radius: 25px;
  padding: 7px;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 30px wheat,0 0 30px red;
}

.submit:hover{
  background-color: gray;
}



.submit{
  border: solid wheat;
  border-radius: 25px;
  margin-top: 10px;
}

.spanremove{
  text-decoration: none;
  color: wheat;
}

.signimage{
  width: 40%;
  height: 50%;
  position: absolute;
  right: 56%;
  bottom: 40%;
  
  
}

.signDiv{
  display: flex;
  
  margin-left: 75%;
  padding-top: 50px;
}

.tavernarticle{
  color: white;
  display: flex;
  justify-content: center;
  border:solid wheat 2px;
  background-color: rgb(4, 12, 45);
  align-content: center;
  border-radius: 25px;
  margin-top: 20px;
  margin-left: 30%;
  margin-right: 30%;
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  box-shadow: 0 0 30px wheat,0 0 30px red;
  }

  .scroll{
    width: 25px;
    height: 25px;
    position:relative;
    left: 50px;
    bottom: 22px;
  }

  .aboutSection{
    color: wheat;
    display: flex;
    justify-content: center;
    background-color: rgb(4, 12, 45);
    margin-left: 25%;
    margin-right: 25%;
    align-content: center;
    border: solid wheat;
    margin-top: 10%;
    padding: 20px;
    max-width: 50%;
    max-height: 50%;
    border-radius: 25px;
    box-shadow: 0 0 30px wheat,0 0 30px red;
  }

  .formcontainercreate{
    border: solid wheat;
    border-radius: 40px;
    background-color: rgb(4, 12, 45);
    display: flex;
    gap: 9px;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    width: auto;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 7%;
    color: wheat;
    box-shadow: 0 0 30px wheat,0 0 30px red;
    flex-wrap: wrap;
    padding-bottom: 2%;
    
    
  }


.griddiv{
  display: grid;
  padding:5%;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  grid-template-rows:1fr ;
  gap: 15px;
  position: relative;
}

.card{
  border: solid black;
  font-size: 15px;
  margin: 10px;
  background-color: rgb(4, 12, 45);
  box-shadow: 0 0 30px wheat,0 0 30px red;
  border-radius: 25px;
  border: solid wheat;
  color: wheat;
  opacity: 0.8;
  opacity:0.7;
  margin-left: 15%;
  margin-right: 15%;
  transition: opacity 0.3s ease;
}

.card:hover{
  opacity: 1;
}


.cardimg{
  
  border-radius: 50%;
  position: absolute;
  right: 20px;
  left: 70%;
  float: right;
  padding: 5px;
  width: 8%;
  height:122px;
  box-shadow: 0 0 10px wheat,0 0 30px red;
}

.cardDiv{
  border-radius: 20px;
}


.card h4{
  margin-left:30px;
}

.card p{
  margin-left:30px;
}

.card a{
  text-decoration: none;
  color:black;
  border:solid gray;
  background-color: white;
  padding: 3px;
}

.detailsimg{
  max-width: 40%;
  max-height: 40%;
  border: solid wheat;
  border-radius: 50%;
  padding: 5px;
  width: 40%;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px wheat,0 0 30px red;  
  min-height: 625px;
  
  
  
}

.detailsDiv{
  box-shadow: 0 0 10px wheat,0 0 10px red;
  border: solid wheat;
  display: flex;
  margin-top: 40px;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 5%;
  
  background-color: rgb(4, 12, 45);
  box-shadow: 0 0 10px wheat,0 0 30px red;
  position: relative;
  height: 670px;
  max-height: 670px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(4, 12, 45);
  color: white;
  text-align: center;
  height: 3.5%;
  border-top: solid black;
}

.footer p{
  position: relative;
  bottom: 9px;
  color: wheat;
 
}

#desch4{
  background-color: wheat;
  margin-top: 1px;
  text-align: center;
  padding-bottom: 40px;
  
}

#detailsdesc{
  background-color: wheat;
  font-size: 20px;
  font-weight: bolder;
  
}

#bigquestdetails{
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}

#requiredleveldesc{
  background-color:wheat ;
  font-size: 20px;
  font-weight: bolder;
}

#rewarddesc{
  background-color: wheat;
  font-size: 20px;
  font-weight: bolder;
}

.descdiv{
  border:solid red 3px;
  position: absolute;
  padding: 30px;
  left: 50%;
  top: 20px;
  transition: box-shadow 0.3s ease;
  opacity: 0.8;
  background-color: wheat;
  border-radius: 25px;
  
  max-width: 47%;
  min-width: 47%;
}

.descdiv:hover{
  box-shadow: 0 0 10px wheat,0 0 100px red;
  opacity: 1;
}

#deletebutton{
  position: relative;
  top: 70%;
  left: 190%;
  border: solid orange;
  border-radius: 25px;
  padding: 7px;
  box-shadow: 0 0 30px wheat,0 0 30px red;
  width: 200px;

}

#editbutton{
  position: relative;
  top: 70%;
  left: 110%;
  border: solid orange;
  border-radius: 25px;
  padding: 7px;
  box-shadow: 0 0 30px wheat,0 0 30px red;
  width: 200px;
}



.homepagecarddiv{
  margin-top: 160px;
  display: grid;
  grid-template-columns: repeat(3,500px);
  grid-auto-flow: row;
  justify-content: center;
  justify-items: center;
  background-image: url(https://inkarnate-api-as-production.s3.amazonaws.com/97aFPHAKk5joziR9R4mk6j);
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px wheat,0 0 30px red;
  margin-left: 30px;
  margin-right: 60px;
  border: solid wheat;
  border-radius: 60px;
 
}

.homepagecardimg{
  overflow: hidden;
  display: block;
  width: 100%;
  aspect-ratio: 16/9;
  height: 70%;

}

.homepagecardheader{
  border: solid salmon;
  background-color: wheat;
  height: 400px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  margin-top: 100px;
  font-weight: bolder;
  position:relative;
  transition: box-shadow 0.3s ease;

}

.homepagecardheader:hover{
  box-shadow: 0 0 10px wheat,0 0 30px red;

}


#questparagraph{
  text-align: center;
  color: wheat;
  font-size: 50px;
  
}

.homepagedetails{
  position: absolute;
  bottom: 20px;
  left: 35%;
  height: 30px;
  width: 100px;
}

.nocontentp{
  text-align: center;
}